#main{
    Filter:brightness(60%);
    height: 60vw;    
}
#three{
    height: 60VW;
}
.register{
    background-color:rgb(40, 220, 226) ;
    height: 13rem;
    padding-top: 20px;
    padding-left: 40px;
    flex-direction: row;
    flex-flow: row wrap;

}
.footer{
    background-color: rgb(32, 26, 26);
    height: 25rem;
    margin-top: 10rem;
}
.logo{
    padding-left: 33vw;
    font-size: 6vw;
    color: aliceblue;
    align-items: center;
}
